{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "root": true,
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "txt": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "import",
    "better-styled-components",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.cts", "*.tsx", "*.js", ".jsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    },
    {
      "files": ["**/pages/**/*.tsx"],
      "rules": {
        "react/display-name": ["error", { "ignoreTranspilerName": true }]
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": ["error", { "ignoreTranspilerName": false }],
    "better-styled-components/sort-declarations-alphabetically": 2,
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "warnOnUnassignedImports": true
      }
    ]
  }
}